body {
  font-family: Arial, Helvetica, sans-serif;
  /* background-image: linear-gradient(40deg, #ff6f69 30%, #cc5c59 60%); */
  background-color: #414141;
  height: 100px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
